---
interface Props {
	title: string;
	description: string;
	thumbnail?: string | null;
	metaURL: string;
}

const { title, description, thumbnail, metaURL } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" /><meta
			name="keywords"
			content="Rython, student, developer, frontend, web developer, streamer, coworking"
		/>
		<meta name="author" content="RythonDev" />
		<meta name="theme-color" content="#2B2D31" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<!-- "X" meta tags -->
		{
			thumbnail && (
				<>
					<meta name="twitter:image" content={thumbnail} />
					<meta name="og:image" content={thumbnail} />
				</>
			)
		}

		<meta name="twitter:site" content="@RythonDev" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="@RythonDev" />

		<meta name="og:description" content={description} />
		<meta name="og:url" content={metaURL} />
		<meta name="og:type" content="website" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
